:root {
    --theme-is-dark: 0;

    --lighting-background: 97%;
    --lighting-text: 17%;

    --clr-background: hsl(
        0
        , 0%
        , var(--lighting-background)
    );

    --clr-background-dark: hsl(
        0
        , 0%
        , calc( var(--lighting-background) - 11% )
    );

    --clr-background-darker: hsl(
        256
        , 100%
        , var(--lighting-background)
    );

    --clr-background-lighter: hsl(
        0
        , 0%
        , calc( var(--lighting-background) + 3% )
    );

    --clr-text: hsl(
        0
        , 0%
        , var(--lighting-text)
    );

    --clr-text-light: hsl(
        0
        , 5%
        , calc( var(--lighting-text) + 34% )
    );

    --clr-text-lighter: hsl(
        0
        , 0%
        , calc( var(--lighting-text) + 83% )
    );

    // ***

    --lighting-primary: 67%;
    --lighting-secondary: 67%;
    --lighting-complementary: 64%;

    --hue-primary: 255;
    --hue-secondary: 48;
    --hue-complementary: 21;

    --clr-primary: hsl(
        var(--hue-primary)
        , 98%
        , var(--lighting-primary)
    );

    --clr-secondary: hsl(
        calc( var(--hue-primary) + var(--hue-secondary) )
        , 100%
        , var(--lighting-secondary)
    );

    --clr-complementary: hsl(
        calc( var(--hue-primary) - var(--hue-complementary) )
        , 100%
        , var(--lighting-complementary)
    );
}

:root.darkmode {
    --theme-is-dark: 1;

    --lighting-background: 10%;
    --lighting-text: 80%;

    // ----

    --lighting-primary: 57%;
    --lighting-secondary: 57%;
    --lighting-complementary: 50%;

    --hue-complementary: 50;
}