$container: '.containerBox';
$primary: '.primary';
$secondary: '.secondary';

// ----

#{$container} {
    flex: 7;

    padding: 12rem 8rem;

    background-color: var(--clr-primary);
    color: var(--clr-text-lighter);

    display: flex;
    flex-direction: column;
    justify-content: center;

    // ***

    div { padding: 0 0.25rem }

    svg {
        // ***
        #{$primary} { color: var(--clr-primary) }
        #{$secondary} { color: var(--clr-secondary) }
    }

    strong {
        margin-top: 1.6rem;

        font-family: var(--ff-title);
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 4.2rem;
    }

    p {
        margin-top: 1.6rem;

        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}