$container: '.containerBox';
$primary: '.primary';
$secondary: '.secondary';

// ----

#{$container} {
    flex: 7;

    padding: 12rem 8rem;

    background-color: var(--clr-primary);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // ***

    div { padding: 0 0.25rem }

    svg {
        // ***
        #{$primary} { color: var(--clr-primary) }
        #{$secondary} { color: var(--clr-secondary) }
    }

    strong {
        margin-top: 1.6rem;

        font: 700 3.6rem 'Poopins', sans-serif;
        line-height: 4.2rem;
    }

    p {
        margin-top: 1.6rem;

        color: #fff;

        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}