@import "../../styles/global.breakpoints.scss";

$header: '.containerBox';
$content: '.contentBox';
$logo: '.logoBox';
$allButtons: '.buttonsBox';
    $btn-max-height: 4.5rem;

// ----

#{$header} {
    padding: 2.4rem;

    border-bottom: 0.1rem solid var(--clr-background-lighter);

    background-color: var(--clr-background-lighter);

    display: flex;

    z-index: 1;

    position: sticky;
    top: 0;
    bottom: 0;
}

#{$content} {
    max-width: 112rem;
    width: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    position: relative;

    // ***

    a { @include for-tablet-portrait-up { margin: 0 auto } }

    div {
        display: flex;
        gap: 1.6rem;

        // ***

        > * { @include for-tablet-portrait-up { display: none } }

        button {
            height: auto;
            max-height: $btn-max-height;
        }

        &#{$allButtons} {
            gap: 3.2rem;

            // ***

            > button {
                max-width: $btn-max-height;

                @include for-tablet-portrait-up {
                    display: block;

                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

#{$logo} {
    width: 10rem;
    height: $btn-max-height;
}