$header: '.containerBox';
$logo: '.logoBox';
$allButtons: '.buttonsBox';
    $btn-max-height: 4.5rem;

// ----

#{$header} {
    padding: 2.4rem;

    border: 0.1rem solid #e2e2e2;

    background-color: #fefefe;

    z-index: 1;

    position: sticky;
    top: 0;
    bottom: 0;

    // ***

    section {
        max-width: 112rem;

        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        display: flex;
        gap: 1.6rem;

        // ***

        button {
            height: auto;
            max-height: $btn-max-height;
        }

        &#{$allButtons} {
            gap: 3.2rem;

            // ***

            > button { max-width: $btn-max-height }
        }
    }
}

#{$logo} {
    width: 10rem;
    height: $btn-max-height;
}